.sb-container {
  position: relative;
  --size-button: 40px;
  color: white;
}

.sb-input {
  padding-left: var(--size-button);
  height: var(--size-button);
  font-size: 15px;
  border: none;
  color: #fff;
  outline: none;
  width: var(--size-button);
  transition: all ease 0.3s;
  background-color: #191a1e;
  box-shadow:
    1.5px 1.5px 3px #0e0e0e,
    -1.5px -1.5px 3px rgb(95 94 94 / 25%),
    inset 0px 0px 0px #0e0e0e,
    inset 0px -0px 0px #5f5e5e;
  border-radius: 50px;
  cursor: pointer;
}

.sb-input:focus,
.sb-input:not(:invalid) {
  width: 200px;
  cursor: text;
  box-shadow:
    0px 0px 0px #0e0e0e,
    0px 0px 0px rgb(95 94 94 / 25%),
    inset 1.5px 1.5px 3px #0e0e0e,
    inset -1.5px -1.5px 3px #5f5e5e;
}

.sb-input:focus + .sb-icon,
.sb-input:not(:invalid) + .sb-icon {
  pointer-events: all;
  cursor: pointer;
}

.sb-container .sb-icon {
  position: absolute;
  width: var(--size-button);
  height: var(--size-button);
  top: 0;
  left: 0;
  padding: 8px;
  pointer-events: none;
}

.sb-container .sb-icon svg {
  width: 100%;
  height: 100%;
}
